{% extends 'default_frame.twig' %}

{% block main %}
</td>
</tr>
</table>
</td>
</tr>
</table>



    <div class="contents">
      <main>
        <div class="recruit" style="padding-top:50px;">
          <h1 class="title"><strong class="agp">よくある質問</strong></h1><!-- .title -->
</div>
        <div class="recruit r01">
          <section class="recruit_box">
            <div class="faq_list">
              <h2 class="headline">ご注文について</h2>
              <dl>
                <dt><span class="agp">Q.</span><span>定休日でもオンラインショップは利用できますか？</span></dt>
                <dd><span class="agp">A.</span><span>オンラインショップは、定休日でもご利用いただけます。ただし、定休日（月曜日、不定休あり）は発送等を行わないため、木曜日（地域により金曜日）をお届け日にご指定いただくことはできません。ご了承ください。</span></dd>
              </dl>
              <dl>
                <dt><span class="agp">Q.</span><span>購入の手順について教えてください。</span></dt>
                <dd><span class="agp">A.</span><span><a href="/guide.html">ご利用ガイド</a>をご覧ください。</span></dd>
              </dl>
              <dl>
                <dt><span class="agp">Q.</span><span>のしの指定はできますか？</span></dt>
                <dd><span class="agp">A.</span><span>商品詳細画面でのしが選択できる商品は対応可能です。のしの種類、名入れ、リボンラッピングをご選択ください。</span>
</dd>
              </dl><span class="photo" style="
    text-align: center;
"><img src="{{ asset('assets/img/noshi.png') }}" alt="" width="50%"><img src="{{ asset('assets/img/housou.png') }}" alt="" width="50%"></span>
            
              <dl>
                <dt><span class="agp">Q.</span><span>注文が完了したことをどうやって確認できますか？</span></dt>
                <dd><span class="agp">A.</span><span>ご注文受付と同時に、受付確認のメールをお送りします。<br>
もし、10分以上経過しても確認メールが届かない場合は、何らかの理由で注文が完了していないことが考えられます。<br>
お手数ですが、受付番号を添えて、お電話かメールにてお問い合わせください。<br><br>

<a href=[EMAIL]>＞お問い合わせフォーム</a><br><br>

再度、注文処理をされますと、二重に注文されてしまう恐れがありますので、まずはお問い合わせいただきますようお願いいたします。</span></dd>
              </dl>
<dl>
                <dt><span class="agp">Q.</span><span>確認メールが届きません。</span></dt>
                <dd><span class="agp">A.</span><span>メールが届かない場合は、携帯会社様またパソコンのウイルス対策ソフトにより迷惑メールとして扱われている場合がございます。一度、迷惑メールのフォルダーをご確認ください。それでも見当たらない場合は、「@t-yokogawa.com」をドメイン指定頂いたうえで、メールもしくはお電話にてお問合せください。同じ内容のメールを再送させていただきます。<br>
<br>
また、会員様はマイページの注文履歴より、ご注文内容のご確認が頂けます。</span></dd>
              </dl>
<br>
              <h2 class="headline">お支払いについて</h2>
              <dl>
                <dt><span class="agp">Q.</span><span>支払い方法について教えてください。</span></dt>
                <dd><span class="agp">A.</span><span>店頭受取の場合は、クレジットカード払いのみの受付となります。受け取りの際の支払い希望の場合はお手数ですがお電話にてご予約下さい。<br><br>
<a href="/shop.html">>店舗詳細</a><br><br>
お取り寄せの場合は、クレジットカード払いと代引き払いのいずれかを選択いただけます。
</span></dd>
              </dl>
              <dl>
                <dt><span class="agp">Q.</span><span>カード会社はどこが使えますか</span></dt>
                <dd><span class="agp">A.</span><span>VISA、マスター、JCB、americanexpress、Diners,DCがご利用いただけます。</span></dd>
              </dl>
              <dl>
                <dt><span class="agp">Q.</span><span>郵便局で支払いたいのです</span></dt>
                <dd><span class="agp">A.</span><span>申し訳ございませんが、郵便振替でのお支払いは受け付けておりません。ご了承ください。</span></dd>
              </dl><br>
              <h2 class="headline">配送に関して</h2>
              <dl>
                <dt><span class="agp">Q.</span><span>すぐに送ってほしいのです</span></dt>
                <dd><span class="agp">A.</span><span>オンラインショップでクレジットカード決済をお選びいただくと、出荷お知らせのメールに番号とアドレスを掲載いたします。<br>
宅急便「お届け予定eメール」をご利用いただくと、事前にお届け日時をメールでお知らせします。</span></dd>
              </dl>
              <dl>
                <dt><span class="agp">Q.</span><span>注文した商品がいつ届くか知りたいのです</span></dt>
                <dd><span class="agp">A.</span><span>オンラインショップの配送は5～7日後以降となりますが、お急ぎの場合は、お電話・FAXでお問い合わせください。商品によりましては、2日後の発送をお受けできる場合がございます。</span></dd>
              </dl>
              <dl>
                <dt><span class="agp">Q.</span><span>配送日を変更したいのですが可能でしょうか？</span></dt>
                <dd><span class="agp">A.</span><span>ご注文後の配送日の変更は、電話、FAX、メール等でお問い合わせください。確認のうえ、ご連絡させていただきます。</span></dd>
              </dl><br>
              <h2 class="headline">会員登録について</h2>
              <dl>
                <dt><span class="agp">Q.</span><span>登録メールアドレスとパスワードを忘れてしまいました</span></dt>
                <dd><span class="agp">A.</span><span>パスワードは再発行が可能です。<br>
ログインページのパスワードをお忘れの方はこちらよりパスワードの再発行をお願いします。<br>
会員登録時のメールアドレスが不明の方は、お問い合わせフォームより、お名前とご住所をご記入して送信してください。<br>
こちらで調べて返信いたします。</span></dd>
              </dl>
              <dl>
                <dt><span class="agp">Q.</span><span>ポイントに関して教えてください</span></dt>
                <dd><span class="agp">A.</span><span>店頭受取とお取り寄せの商品をご購入された際に、商品代金の2%のポイントを差し上げます。ポイントは次回お買い物の際に、利用できます。<br>
※店頭でお使いいただけるポイントとはことなりホームページだけで利用できるポイントです。</span></dd>
              </dl>
              <dl>
                <dt><span class="agp">Q.</span><span>ポイントに有効期限はありますか</span></dt>
                <dd><span class="agp">A.</span><span>ポイントは最終購入日より1年間です。</span></dd>
              </dl>
            </div><!-- .faq_list -->
          </section><!-- .recruit_box -->
        </div><!-- .recruit -->
      </main>
    </div><!-- .contents -->
{% endblock %}