{% extends 'default_frame.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ asset('assets/css/slick-theme.css', 'user_data') }}">
{% endblock stylesheet %}

{% block main %}

</td>
</tr>
</table>
</td>
</tr>
</table> 

 
    <script>
    $(function(){
      $('.shop_slider').slick({
        infinite: true,
        autoplay: true,
        autoplaySpeed: 3000,
        arrows: false,
        dots: true,
      });
    });
    </script>
    <div class="contents">
      <main>
        <div class="shop" style="padding-top:50px;">
          <h1 class="title"><strong class="agp">SHOP</strong><span>店舗</span></h1><!-- .title -->
          <section class="shop_wrap" id="s01">
            <div class="shop_box inner">
              <div class="address">
                <h2 class="name">T.YOKOGAWA 和泉中央本店</h2><!-- .name -->
                <dl>
                  <dt>住所</dt>
                  <dd>〒594-1104 大阪府和泉市万町268-1</dd>
                  <dt>TEL</dt>
                  <dd><a href="tel:0725-57-2888">0725-57-2888</a></dd>
                  <dt>FAX</dt>
                  <dd>0725-57-1003</dd>
                  <dt>フリーダイヤル</dt>
                  <dd><a href="tel:0120-65-5710">0120-65-5710</a></dd>
                  <dt>営業時間</dt>
                  <dd>9:00-19:00</dd>
                  <dt>定休日</dt>
                  <dd>月曜日</dd>
                  <dt>駐車場</dt>
                  <dd>32台</dd>
                  <dt>アクセス</dt>
                  <dd>泉北高速和泉中央駅より徒歩5分</dd>
                </dl>
              </div><!-- .address -->
              <span class="photo"><img src="/html/user_data/assets/img/shop_honten01.jpg" alt=""></span>
            </div><!-- .shop_box -->
            <div class="shop_map inner"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3289.6673725514934!2d135.45811161522582!3d34.46059058049675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000d0300adc62ed%3A0xcfc71dc4fe0fe266!2z6I-T5a2Q5bel5oi_IFQuWU9LT0dBV0Eg5ZKM5rOJ5Lit5aSu5pys5bqX!5e0!3m2!1sja!2sjp!4v1597917412891!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div><!-- .shop_map -->
            <div class="shop_detail">
              <div class="inner">
                <div class="shop_slider">
                  <div><img src="/html/user_data/assets/img/shop_honten02.jpg" alt=""></div>
                  <div><img src="/html/user_data/assets/img/shop_honten02_b.jpg" alt=""></div>
                  
                </div><!-- .shop_slider -->
                <div class="txt">
                  <p>菓子工房T.YOKOGAWA和泉中央本店が19年度の大阪府商店照明コンクールにおいて大阪府知事賞を受賞する事ができました。<br>
                    和泉中央本店は一階部分がガラス張りになっており、昼と夜では違った表情を見せてくれます。 昼は白くやわらかい雰囲気に包まれて、夜になると店内からこぼれる光が目を引きます。<br>
                     店内は白で統一された生菓子コーナー、ダークブラウンの木目調の焼菓子・チョコレートコーナーに分けられ、それぞれに合った照明がなされています。
                  </p>
                </div><!-- .txt -->
              </div><!-- .inner -->
            </div><!-- .shop_detail -->
          </section><!-- .shop_wrap -->
          <section class="shop_wrap" id="s02">
            <div class="shop_box inner">
              <div class="address">
                <h2 class="name">T.YOKOGAWA 岸和田店</h2><!-- .name -->
                <dl>
                  <dt>住所</dt>
                  <dd>〒596-0044 大阪府岸和田市西之内町5-7</dd>
                  <dt>TEL</dt>
                  <dd><a href="tel:072-447-8801">072-447-8801</a></dd>
                  <dt>FAX</dt>
                  <dd>072-447-8802</dd>
                  <dt>フリーダイヤル</dt>
                  <dd><a href="tel:0120-947-922">0120-947-922</a></dd>
                  <dt>営業時間</dt>
                  <dd>9:00-19:00</dd>
                  <dt>定休日</dt>
                  <dd>月曜日</dd>
                  <dt>駐車場</dt>
                  <dd>16台</dd>
                  <dt>アクセス</dt>
                  <dd>和泉大宮駅より徒歩10分、下松駅より徒歩15分</dd>
                </dl>
              </div><!-- .address -->
              <span class="photo"><img src="/html/user_data/assets/img/shop_kishiwada01.jpg" alt=""></span>
            </div><!-- .shop_box -->
            <div class="shop_map inner"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3289.5387250930207!2d135.3882830155278!3d34.46385540337313!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000c5f27a185e47%3A0x7ff39d4fbbafe405!2zVC5ZT0tPR0FXQSDlsrjlkoznlLDlupc!5e0!3m2!1sja!2sjp!4v1597918521935!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div><!-- .shop_map -->
            <div class="shop_detail">
              <div class="inner">
                <div class="shop_slider">
                  <div><img src="/html/user_data/assets/img/shop_kishiwada02.jpg" alt=""></div> 
                  <div><img src="/html/user_data/assets/img/shop_kishiwada02_b.jpg" alt=""></div>
                </div><!-- .shop_slider -->
                <div class="txt">
                  <p>2017年5月、ついに岸和田に新店舗がOPEN致しました。<br>カフェでおくつろぎいただくこともできます。どうぞ皆さまお誘いあわせの上、お越しくださいませ。</p>
                </div><!-- .txt -->
              </div><!-- .inner -->
            </div><!-- .shop_detail -->
          </section><!-- .shop_wrap -->
        </div><!-- .shop -->
      </main>
    </div><!-- .contents -->
{% endblock %}