{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<div classs="top_page">
	<section class="about">
		<div class="inner">
		  <div class="box">
		    <h2 class="headline">お菓子本来のおいしさを、<br>もっともっと知ってほしいから…</h2>
		    <p>T.YOKOGAWAのお菓子は、どれもシンプル。<br>
		    最高の素材をつかい、最高の製法でつくることで、<br>
		    お菓子の生きたおいしさをおとどけしています。<br>
		    売れるから、流行っているからつくるのではなく、素材や製法、伝統など、<br>
		    つくるお菓子のひとつひとつに主張できるこだわりを大切にしています。<br>
		    お菓子本来のおいしさを、一人でも多くの人に。―<br>
		    そんな想いを込めて、今日もパティシエたちはお菓子づくりに励んでいます。</p>
		    <a href="/about.html" class="btn agp">私たちについて</a>
		  </div><!-- .box -->
		</div>
	</section>
</div>