{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<div class="ec-topicRole" style="width:100%;height:248px; background-image: url({{ asset('assets/img/top/recruit_b01.jpg') }});">


    <div class="ec-eyecatchRole">
        <div class="ec-eyecatchRole__intro" style="width:600px;height:80px; margin:auto;">
            <a class="ec-blockBtn--top" style="background-color:#4DCCCA; border:1px solid #4DCCCA; color:#fff; max-width:600px; margin-top:160px;" href="{{ url('product_list') }}">{{ '採用情報について'|trans }}</a>
        </div>
    </div>
</div>