{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<section>
    <div class="box">
      <h2 class="headline">”心をつなぎ、幸せを運ぶ存在でありたい”</h2>
      <p>大阪・和泉市で真心込めて美味しさを生み出すパティスリー「T.YOKOGAWA」<br>
豊かなの恵みの大地から生まれる新鮮な素材を使用し、パティシエが一つひとつ心をこめてつくります。<br>
一口ほおばると思わずほほえみが溢れ、人々をあたたかく包み<br>
家族や友人、仲間と過ごす時間を、甘くやさしくしてくれる<br>
そんなお菓子づくりを私たちは目指しています。</p>
    </div><!-- .box -->
</section>