{% extends 'default_frame.twig' %}

{% block main %}
</td>
</tr>
</table>
</td>
</tr>
</table>


    <div class="contents">
      <main>
        <div class="item_list decoration">
          <div class="item_main"><img src="https://gigaplus.makeshop.jp/yokogawa/common/img/item/decoration.jpg" alt=""></div><!-- .item_main -->
          <div class="relate_item inner">
              <h1 class="small_title"><strong>有料手提げ袋</strong></h1><!-- .small_title -->
              <style>
                #M_lumpProductList{
    width: 600px;
    text-align: left;
}

#M_lumpProductList .M_lumpProduct{
    display: inline-block;
    *display: inline;
    width: 148px;
    margin: 15px 0;
    text-align: center;
}

#M_lumpProductList .M_lumpProductDetail{
    display: inline-block;
    *display: inline;
    width: 148px;
    margin: 15px 0;
    text-align: left;
    vertical-align: top;
    padding: 10px 0 0 10px;
}

#M_lumpProductList .M_lumpSeparatorImg{
    vertical-align: top;
    margin-top: 30px;
}

#M_lumpProductList .M_lumpProductPrice span{
    color:#F89B22;
    font-weight:bold;
}

#M_lumpProductList .M_lumpAmount{
    width: 45px;
    margin: 0 2px;
    ime-mode: disabled;
}

#M_lumpProductList .M_lumpSoldout{
    color: #ff0000;
}

#M_lumpProductList .M_lumpOption{
    background: url(/shop/images/lumpOption.png) no-repeat left center;
    padding-left: 20px;
    display: inline-block;
    line-height: 16px;
}
</style>
              <div id="M_lumpProductList">
              
              test
              
              {% set this_year = 'now'|date('Y') %}
              
              {{ this_year }}
              
              {% if ( date(this_year~'-05-01 00:00:00') <= date() ) and ( date() <= date(this_year~'-11-30 23:59:59') ) %}
				期間内です
				{% else %}
				期間外です
				{% endif %}
              
              
                <div class="M_lumpProduct">
                  <div class="M_lumpProductImg"><a href="/shopdetail/000000000210/ct12/page1/price/"><img src="https://shop80-makeshop.akamaized.net/shopimages/yokogawa/0000000002103_iDfXFnE.jpg" border="0" align="center" alt="レジ袋　小"></a><img src="https://shop80-makeshop.akamaized.net/images/white.gif" width="5" height="10"></div>
                  <div class="M_lumpProductName"><a href="/shopdetail/000000000210/ct12/page1/price/">レジ袋　小</a></div>
                  <div class="M_lumpProductPrice"><span>10円（税込）</span></div>
                  <div class="M_lumpinput">数量<input type="text" class="M_lumpAmount" id="M_brand_amount_000000000210" value="" size="4" maxlength="9" onblur="javascript:MakeShop_saveLumpBrandAmount(this, false, 0, 0, 0);">個<input type="hidden" id="M_brand_amount_000000000210_brandname" value="レジ袋　小"></div>
                </div>
                <img src="https://shop80-makeshop.akamaized.net/images/common/sero.gif" class="M_lumpSeparatorImg">
                <div class="M_lumpProduct">
                  <div class="M_lumpProductImg"><a href="/shopdetail/000000000212/ct12/page1/price/"><img src="https://shop80-makeshop.akamaized.net/shopimages/yokogawa/0000000002123_e0UDqIe.jpg" border="0" align="center" alt="レジ袋　大"></a><img src="https://shop80-makeshop.akamaized.net/images/white.gif" width="5" height="10"></div>
                  <div class="M_lumpProductName"><a href="/shopdetail/000000000212/ct12/page1/price/">レジ袋　大</a></div>
                  <div class="M_lumpProductPrice"><span>20円（税込）</span></div>
                  <div class="M_lumpinput">数量<input type="text" class="M_lumpAmount" id="M_brand_amount_000000000212" value="" size="4" maxlength="9" onblur="javascript:MakeShop_saveLumpBrandAmount(this, false, 0, 0, 0);">個<input type="hidden" id="M_brand_amount_000000000212_brandname" value="レジ袋　大"></div>
                </div>
                <img src="https://shop80-makeshop.akamaized.net/images/common/sero.gif" class="M_lumpSeparatorImg">
                <div class="M_lumpProduct">
                  <div class="M_lumpProductImg"><a href="/shopdetail/000000000211/ct12/page1/price/"><img src="https://shop80-makeshop.akamaized.net/shopimages/yokogawa/0000000002113_DlGw4i7.jpg" border="0" align="center" alt="レジ袋　中"></a><img src="https://shop80-makeshop.akamaized.net/images/white.gif" width="5" height="10"></div>
                  <div class="M_lumpProductName"><a href="/shopdetail/000000000211/ct12/page1/price/">レジ袋　中</a></div>
                  <div class="M_lumpProductPrice"><span>20円（税込）</span></div>
                  <div class="M_lumpinput">数量<input type="text" class="M_lumpAmount" id="M_brand_amount_000000000211" value="" size="4" maxlength="9" onblur="javascript:MakeShop_saveLumpBrandAmount(this, false, 0, 0, 0);">個<input type="hidden" id="M_brand_amount_000000000211_brandname" value="レジ袋　中"></div>
                </div>
                <img src="https://shop80-makeshop.akamaized.net/images/common/sero.gif" class="M_lumpSeparatorImg">
                <div class="M_lumpProduct">
                  <div class="M_lumpProductImg"><a href="/shopdetail/000000000213/ct12/page1/price/"><img src="https://shop80-makeshop.akamaized.net/shopimages/yokogawa/0000000002133_tbB0eKe.jpg" border="0" align="center" alt="ギフト商品用　手提げ"></a><img src="https://shop80-makeshop.akamaized.net/images/white.gif" width="5" height="10"></div>
                  <div class="M_lumpProductName"><a href="/shopdetail/000000000213/ct12/page1/price/">ギフト商品用　手提げ</a></div>
                  <div class="M_lumpProductPrice"><span>20円（税込）</span></div>
                  <div class="M_lumpinput">数量<input type="text" class="M_lumpAmount" id="M_brand_amount_000000000213" value="" size="4" maxlength="9" onblur="javascript:MakeShop_saveLumpBrandAmount(this, false, 0, 0, 0);">個<input type="hidden" id="M_brand_amount_000000000213_brandname" value="ギフト商品用　手提げ"></div>
                </div>
              </div>
              <script src="/js/makeshop/lump_basket/lump_basket.js?1515994831"></script>
              <a href="/shop/basket.html?mode=lump_add" class="btn">買い物かごに入れる</a>
            </div>
        </div><!-- .item_list -->
        <nav class="guide_nav">
          <p>ご利用ガイド</p>
          <ul>
            <li class="howto"><a href="/guide.html#g01"><span>注文方法</span></a></li>
            <li class="purse"><a href="/guide.html#g02"><span>支払方法</span></a></li>
            <li class="cancel"><a href="/guide.html#g03"><span>キャンセルに<br>ついて</span></a></li>
            <li class="wrapping"><a href="/guide.html#g04"><span>ラッピングに<br>ついて</span></a></li>
            <li class="postage"><a href="/guide.html#g05"><span>送料について</span></a></li>
            <li class="shopfront"><a href="/guide.html#g06"><span>店頭受取に<br>ついて</span></a></li>
            <li class="point"><a href="/guide.html#g07"><span>ポイントに<br>ついて</span></a></li>
          </ul>
        </nav><!-- .guide_nav -->
      </main>
    </div><!-- .contents -->
{% endblock %}