<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>225150011538-kepo6nvfsefm0srkh0atbq62nb1smj42.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225150011538-kepo6nvfsefm0srkh0atbq62nb1smj42</string>
	<key>API_KEY</key>
	<string>AIzaSyCWbUDYzi6K6p-C5LCny9X1B0npVUYECsk</string>
	<key>GCM_SENDER_ID</key>
	<string>225150011538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ios.monaca.firebase</string>
	<key>PROJECT_ID</key>
	<string>t-yokogawa-app</string>
	<key>STORAGE_BUCKET</key>
	<string>t-yokogawa-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225150011538:ios:bb134a11e53b6e4d54fe4b</string>
</dict>
</plist>