<nav class="guide_nav" style="margin-top:20px; margin-bottom:20px;">
  <p>ご利用ガイド</p>
  <ul>
    <li class="howto"><a href="/guide#g01"><span>注文方法</span></a></li>
    <li class="purse"><a href="/guide#g02"><span>支払方法</span></a></li>
    <li class="cancel"><a href="/guide#g03"><span>キャンセルに<br>ついて</span></a></li>
    <li class="wrapping"><a href="/guide#g04"><span>ラッピングに<br>ついて</span></a></li>
    <li class="postage"><a href="/guide#g05"><span>送料について</span></a></li>
    <li class="shopfront"><a href="/guide#g06"><span>店頭受取に<br>ついて</span></a></li>
    <li class="point"><a href="/guide#g07"><span>ポイントに<br>ついて</span></a></li>
  </ul>
</nav>