<nav class="guide_nav">
  <p>ご利用ガイド</p>
  <ul>
    <li class="howto"><a href="/guide.html#g01"><span>注文方法</span></a></li>
    <li class="purse"><a href="/guide.html#g02"><span>支払方法</span></a></li>
    <li class="cancel"><a href="/guide.html#g03"><span>キャンセルに<br>ついて</span></a></li>
    <li class="wrapping"><a href="/guide.html#g04"><span>ラッピングに<br>ついて</span></a></li>
    <li class="postage"><a href="/guide.html#g05"><span>送料について</span></a></li>
    <li class="shopfront"><a href="/guide.html#g06"><span>店頭受取に<br>ついて</span></a></li>
    <li class="point"><a href="/guide.html#g07"><span>ポイントに<br>ついて</span></a></li>
  </ul>
</nav>