{% extends 'default_frame.twig' %}

{% block main %}
</td>
</tr>
</table>
</td>
</tr>
</table>

    <div class="app_item_main app_toppage_item">
      <img src="/html/user_data/assets/img/app_yoyaku.png" alt="—\–ñî•ñ">
    </div>
    
    
{% endblock %}