{% extends 'default_frame.twig' %}

{% block main %}
 </td>
</tr>
</table>
</td>
</tr>
</table>


 
    <div class="contents">
      <main>
        <div class="material" style="padding-top:50px;">
          <h1 class="title"><strong class="agp">OUR BRAND</strong></h1><!-- .title -->
          <!--<div class="item_main"><img src="https://gigaplus.makeshop.jp/yokogawa/common/img/material_main.jpg" alt=""></div>--><!-- .item_main -->
          <div class="material_wrap inner">
            <section>
              <div class="box">
                <h2 class="headline">原産地へのこだわり</h2>
                <p>素材へのこだわりはおいしさへのこだわり。<br>
シェフ自らが産地を厳選した素材をご紹介いたします。</p>
              </div><!-- .box -->
            </section>
            <section class="material_list">
              <ul>
                <li>
                  <span><img src="https://gigaplus.makeshop.jp/yokogawa/common/img/material01.jpg" alt=""></span>
                  <strong>チョコレート</strong>
                  <p>何百種類とあるチョコレートの中からシェフが選んだカカオバリー社のクーベルチュールを使い、 風味豊かで個性的な味を引き出したこだわりの素材の一つです。 現地に自らの足を運び、農場、製造過程を視察。その他、商品によって、ショコラを使い分ける事により豆の持つ色々な香りを楽しめる。</p>
                </li>
                <!--  <li>
                    <span><img src="https://gigaplus.makeshop.jp/yokogawa/common/img/material01.jpg" alt=""></span>
                    <strong>ベネズエラ産カカオ</strong>
                    <p>品質の高さで絶大な評価を受けているベネズエラのカカオ。マイルドで香り高い風味が魅力です。<br>しかしその反面、病害虫に弱い品種である為、純正の系列のものは「幻のカカオ」ともいわれる程めずらしく価値の高い品種であり、私たちの求めるハイレベルな味を実現させてくれます。</p>
                  </li>-->
                <!-- <li>
                  <span><img src="https://gigaplus.makeshop.jp/yokogawa/common/img/material02.jpg" alt=""></span>
                  <strong>ガーナ産カカオ</strong>
                  <p>世界的に主流なもので、比較的爽やかですっきりとした風味が特徴。日本では親しみの深い味わいであるといえます。現地に訪れて実際にカカオ農園を見学し、 生産者とのコミュニケーションによって彼らのカカオに対する想いやこだわりに触れる事で素材への愛情を高めます。</p>
                </li>-->
                <!-- <li>
                  <span><img src="https://gigaplus.makeshop.jp/yokogawa/common/img/material03.jpg" alt=""></span>
                  <strong>素材</strong>
                  <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
                </li>-->
                <!-- <li>
                  <span><img src="https://gigaplus.makeshop.jp/yokogawa/common/img/material04.jpg" alt=""></span>
                  <strong>素材</strong>
                  <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
                </li>-->
                <!-- <li>
                  <span><img src="https://gigaplus.makeshop.jp/yokogawa/common/img/material05.jpg" alt=""></span>
                  <strong>素材</strong>
                  <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
                </li>-->
                <li>
                  <span><img src="https://gigaplus.makeshop.jp/yokogawa/common/img/material06.jpg" alt=""></span>
                  <strong>アーモンド</strong>
                  <p>シシリー産、カルフォルニア産を使用し、自社でプードル加工、 クラッシュする事によりアーモンドの香りをそのままにお菓子の中に閉じ込める事が出来ます。</p>
                </li>
                <li>
                  <span><img src="https://gigaplus.makeshop.jp/yokogawa/common/img/material07.jpg" alt=""></span>
                  <strong>卵</strong>
                  <p>お菓子作りに欠かせない卵。アトピーやサルモネラ菌等問題もたくさん抱えております。 生産地を厳選した上で自然飼料を使った鶏卵を使用し、工場内での衛生管理を徹底して行う事で、より安全でこくのあるお菓子ができます。 また、新鮮な卵を使用することにより、きめ細かなスポンジ、コクのあるクリームを作り上げて行きます。</p>
                </li>
                <li>
                  <span><img src="https://gigaplus.makeshop.jp/yokogawa/common/img/material08.jpg" alt=""></span>
                  <strong>牛乳</strong>
                  <p>産地牛乳の氷上牛乳を使用。絞りたての原乳を６３℃で殺菌（低温殺菌）することで、乳の味と香りを失わず使用できます。 脂肪分を均質化されることにより、体に吸収されやすい。</p>
                </li>
                <li>
                  <span><img src="https://gigaplus.makeshop.jp/yokogawa/common/img/material09.jpg" alt=""></span>
                  <strong>生クリーム</strong>
                  <p>内地産の原乳にこだわり、乳脂肪45％・38％を使い分けることにより、お菓子が個性的になります。 また泡立てる際の空気を含む量にもこだわることで、よりあっさりした軽いクリームを作り上げる事が出来ます。</p>
                </li>
                <li>
                  <span><img src="https://gigaplus.makeshop.jp/yokogawa/common/img/material10.jpg" alt=""></span>
                  <strong>塩</strong>
                  <p>フランス　ブルターニュ地方にあるゲランド塩田でとれた塩を使用。 シェフ自ら現地に赴き、塩職人（パリュディエ）のこだわりや塩に対する想いに触れた、特別な思い入れのある素材。</p>
                </li>
                <!-- <li>
                  <span><img src="https://gigaplus.makeshop.jp/yokogawa/common/img/material11.jpg" alt=""></span>
                  <strong>素材</strong>
                  <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
                </li>-->
                <li>
                  <span><img src="https://gigaplus.makeshop.jp/yokogawa/common/img/material12.jpg" alt=""></span>
                  <strong>バター</strong>
                  <p>焼き菓子の命ともいえるバター。北海道の原乳にこだわり、 チルド保管された無塩バター・有塩バター・醗酵バターをそれぞれ用途に合わせて使い分けをすることにより、生きた焼き菓子が生まれます。 また、フランス産のラビエットバターを使用し、コクのある風味豊かな焼菓子に仕上がります。</p>
                </li>
                <!-- <li>
                  <span><img src="https://gigaplus.makeshop.jp/yokogawa/common/img/material13.jpg" alt=""></span>
                  <strong>素材</strong>
                  <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
                </li>-->
                <li>
                  <span><img src="https://gigaplus.makeshop.jp/yokogawa/common/img/material14.jpg" alt=""></span>
                  <strong>ブルーベリー</strong>
                  <p>産地：国産(信州、和歌山など)<br>
フレッシュなブルーベリーの甘酸っぱい風味。網膜に良いとされるアントシアニンが豊富に含まれている。</p>
                </li>
                <li>
                  <span><img src="https://gigaplus.makeshop.jp/yokogawa/common/img/material15.jpg" alt=""></span>
                  <strong>大野ぶどう</strong>
                  <p>産地：大阪府狭山市<br>
大阪府狭山の名産、大野ぶどう。果汁が多く瑞々しい。粒の大きさも特徴のひとつ。<br>
時期：6月下旬〜</p>
                </li>
                <li>
                  <span><img src="https://gigaplus.makeshop.jp/yokogawa/common/img/material16.jpg" alt=""></span>
                  <strong>マンゴー</strong>
                  <p>産地：熊本県菊池郡<br>
熊本の大地で育まれた高級完熟マンゴーです。濃厚な香りととろけるような甘さが魅力。</p>
                </li>
                <li>
                  <span><img src="https://gigaplus.makeshop.jp/yokogawa/common/img/material17.jpg" alt=""></span>
                  <strong>桃</strong>
                  <p>産地：大阪府岸和田市包近<br>
「はなよめ」「日川白鳳」「白鳳」「清水白桃」など、様々な品種の白桃の産地である包近。 新鮮な桃ならではのジューシーな味わいと甘い香りです。<br>
時期：6月中旬〜8月</p>
                </li>
                <li>
                  <span><img src="https://gigaplus.makeshop.jp/yokogawa/common/img/material18.jpg" alt=""></span>
                  <strong>オレンジ</strong>
                  <p>国産の良質なオレンジを皮つきのままスライスし、じっくりとシロップで煮詰めます。 フレッシュな香りはそのままに、やわらかくジューシーな食感に仕上げます。</p>
                </li>
                <!-- <li>
                  <span><img src="https://gigaplus.makeshop.jp/yokogawa/common/img/material19.jpg" alt=""></span>
                  <strong>素材</strong>
                  <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
                </li>-->
                <!-- <li>
                  <span><img src="https://gigaplus.makeshop.jp/yokogawa/common/img/material20.jpg" alt=""></span>
                  <strong>素材</strong>
                  <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
                </li>-->
              </ul>
            </section><!-- .material_list -->
          </div><!-- .material_wrap -->
        </div><!-- .material -->
      </main>
    </div><!-- .contents -->    
{% endblock %}