{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<div class="top_btn_area">
	<div class="recruit_btn">
	  <span><img src="https://gigaplus.makeshop.jp/yokogawa/common/img/recruit_b02.jpg" alt=""></span>
	  <a href="{{ url(eccube_config.eccube_user_data_route, {"route": "recruit"}) }}">{{ 'Ì—pî•ñ‚É‚Â‚¢‚Ä'|trans }}</a>
	</div>
</div>