{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set mypageno = 'index' %}

{% set body_class = 'mypage' %}

{% block main %}
</td>
</tr>
</table>
</td>
</tr>
</table>
    
    
    {% set current_url = app.request.server.get('REQUEST_URI') %}
   
    {% set news_id = current_url|slice(33) %}
    
    {% set NewsList = repository('Eccube\\Entity\\News').getList() %}
    
    <div class="contents" style="padding-top: 128.516px;">
      <main>
        <div class="news inner" style="padding-top:50px;">
          <h1 class="title"><strong class="agp">NEWS</strong></h1><!-- .title -->
          <div class="news_detail_wrap">
            <article class="inner">
              
              {% for News in NewsList %}
              
              <!-- Ú× -->
              {% if News.id == news_id %}
              
	              <h2 class="news_title">{{ News.title }}</h2><!-- .news_title -->
	              <span class="date">{{ News.publish_date|date_day }}</span>
	              <div style="font-size:14px;">
	                <span>{{ News.description|raw|nl2br }}</span>
	              </div>

              {% endif %}
              <!-- .Ú× -->
              
              {% endfor %}
              
            </article>
            
            <div style="padding-bottom:100px;">
            	<a href="{{ url(eccube_config.eccube_user_data_route, {"route": "app_osirase"}) }}" class="btn">ˆê——‚É–ß‚é</a>
            </div>
            
          </div><!-- .news_wrap -->
        </div><!-- .news -->
      </main>
    </div>
    
    
    
{% endblock %}
