{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<div class="slider_wrap" style="position:relative;">
	<div class="slider slick-initialized slick-slider">
		<div class="slick-list draggable">
			
			<div class="slick-track slick-track-list" style="opacity: 1; width: 100%;">
				<a href="{{ url(eccube_config.eccube_user_data_route, {"route": "product_lineup"}) }}#seasonal"  class="slick-slide">
					<div class="slider_item main12 topitem_header"></div>
				</a>
			</div>
			
			<!-- ƒXƒ‰ƒCƒh‚ ‚è
			<div class="slick-track slick-track-list" style="opacity: 1; width: 100%;">
				<a href="{{ url(eccube_config.eccube_user_data_route, {"route": "product_lineup"}) }}#seasonal"  class="slick-slide">
					<div class="slider_item main12"></div>
				</a>
				<a href="{{ url(eccube_config.eccube_user_data_route, {"route": "product_lineup"}) }}#chocolate" class="slick-slide">
					<div class="slider_item main13"></div>
				</a>
				<a href="{{ url(eccube_config.eccube_user_data_route, {"route": "product_lineup"}) }}"        class="slick-slide">
					<div class="slider_item main14"></div>
				</a>
			</div>
			-->
		</div>
	</div><!-- .slider -->
</div>