{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<section class="top_btn_area">
	 <div class="slider_wrap" style="position:relative;">
<!--210108 position relative追加-->

<!--<div class="ship_discount">
    <b>送料割引キャンペーン再実施！</b>
    <p class="copy">ご好評につき３月も実施致します！！<br>出会いとお別れもあるこの季節。贈り物はT.YOKOGAWA で。</p>
    <small>※2021年2月22日〜3月31日までにご注文のお客様対象。<br>※全発送商品対象。</small>
    <div class="mv_btn_wrap">
    <a href="/new/2021-02-22-102520.html" class="btn">詳しくはこちら</a>
    <a href="/new/2021-01-15-191136.html" class="btn">店頭受取予約もお得</a>
    </div>
    </div>-->

<!--<div class="ship_discount">
    <a href="/new/2021-02-22-102520.html" class="btn">詳しくはこちら</a>
    </div>-->

            <div class="slider">
<!--<a href="/products/list?category_id=128"><div class="slider_item main16"></div></a> -->
<!-- <a href="/products/list?category_id=131"><div class="slider_item main15"></div></a> -->
<!-- <a href="/products/list?category_id=92"><div class="slider_item main13"></div></a> -->



<!--<div class="slider_item main05"></div>-->
              <!--<div class="slider_item main01"></div>
              <div class="slider_item main02"></div>
              <div class="slider_item main03"></div>-->




            <!-- スライド表示↓-->
			<div class="slick-track slick-track-list" style="opacity: 1; width: 100%;">

				<!--<a href="/products/list?category_id=128"  class="slick-slide">
					<div class="slider_item main16"></div>
				</a>-->

				<!--<a href="/products/list?category_id=131" class="slick-slide">
					<div class="slider_item main15"></div>
				</a>-->

				<a href="/products/list?category_id=92"  class="slick-slide">
					<div class="slider_item main13"></div>
				</a>

			</div>
			 <!--スライド表示↑-->

            </div><!-- .slider -->
          </div><!-- .slider_wrap -->
</section>

<link rel="stylesheet" type="text/css" href="common/css/jquery.bxslider.css" />
<script type="text/javascript" src="common/js/jquery.bxslider.min.js"></script>