{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
</td>
</tr>
</table>
</td>
</tr>
</table>

<div class="contents">


      <main>
        <div class="recruit" style="padding-top:50px;">
          <h1 class="title"><strong class="agp">GUIDE</strong></h1><!-- .title -->
          <div class="box">
            <strong class="headline">お買い物ガイド</strong></p>
          </div><!-- .box -->
          <div class="recruit_link">
          <section class="recruit_box" id="g01">
            <div class="">
              <h2 class="headline" style="font-weight:bold;font-size: 18px;margin-bottom: 5px;">注文方法</h2>
              <dl class="arrow" style="margin-bottom:20px">
                <dt style="font-weight:bold;margin-bottom: 5px;"><span>1.商品の選択</span></dt>
                <dd>ご希望の商品ページから「購入数」を選択のうえ、「カートに入れる」をクリックしてください。商品の「店頭受取」もしくは「宅配」の選択は、カートをご確認いただいた後、「レジに進む」をクリックして頂くとご選択いただけます。<br>
                その際、「店頭受取商品」と「宅配」は同時にご購入が出来かねますので、2回に分けてご注文下さいませ。</dd>
              </dl>
              <dl class="arrow" style="margin-bottom:20px">
                <dt style="font-weight:bold;margin-bottom: 5px;"><span>2.カートの中身を確認</span></dt>
                <dd>カートの中に選択した商品が入っていることをご確認ください。<br>
お買い物を続ける場合は「お買い物を続ける」を、お支払いに進む場合は「レジに進む」をクリックしてください。</dd>
              </dl>
              <dl class="arrow" style="margin-bottom:20px">
                <dt style="font-weight:bold;margin-bottom: 5px;"><span>3.お客さま情報の入力</span></dt>
                <dd>初めてご利用になられる方は、お客さまの情報をご入力ください。<br>
会員登録して頂くと、次回のお買い物に便利な会員番号・パスワードを発行いたします。発行された会員番号はこ店頭でもお使いいただけます。<br>
もちろん、会員登録なしでもご購入いただけます。
<br></dd>
              </dl>
              <dl class="arrow" style="margin-bottom:20px">
                <dt style="font-weight:bold;margin-bottom: 5px;"><span>4.決済・配送方法の確認</span></dt>
                <dd>お届け先情報、お届け方法、お支払い方法をお選びください。<br>
                  <span class="red">「店頭受取商品」はクレジット決済、「宅配」は代引き・クレジット決済</span>からお選びいただけます。
最後に確認画面が出ますので、お受取希望日・ご要望などを間違いのないようご確認いただき、「次へ」ボタンを押してください。</dd>
              </dl>
              <dl class="arrow" style="margin-bottom:20px">
                <dt style="font-weight:bold;margin-bottom: 5px;"><span>5.注文内容の確認</span></dt>
                <dd>商品カゴの内容を確認の上、決済方法・配送方法をお選びいただき、「次へ」ボタンを押してください。<br>
注文内容確認頂き、「注文内容を確定する」ボタンを押していただき、注文が確定します。</dd>
              </dl>
              <dl class="arrow" style="margin-bottom:20px">
                <dt style="font-weight:bold;margin-bottom: 5px;"><span>6.受注確認メールの到着</span></dt>
                <dd>ご注文後、ご登録いただいたメールアドレス宛に受注確認メールをお送りします。<br>
万が一届かない場合はお手数ですがメールまたはお電話でお問い合わせください。<br>
和泉中央本店：<a href="tel:0725-57-2888">0725-57-2888</a></dd>
              </dl>
              </div>


<section class="guideline_box" style="margin-bottom:20px">
                <a name="g02" id="g02"></a>
                <h2 class="headline" style="font-weight:bold;font-size: 18px;margin-bottom: 5px;">支払方法</h2>
              <p class="guiTxt02"><span>クレジットカード：</span><br />
              「ＪＣＢ」「ＶＩＳＡ」「マスター」「ダイナースクラブ」「アメリカンエキスプレス」がご利用いただけます。<br />
              カード番号はSSLにて暗号化してサーバーに送られますので、安心してご利用いただけます。<br />
              <br />
              <img src="/html/user_data/assets/img/guiImg01.png" width="380" height="70" /><br />
              <br />
              <span>代引決済：</span><br>
              商品代金・送料とは別に代引手数料がかかります。<br /><br />
              <img src="https://gigaplus.makeshop.jp/yokogawa/common/img/guideImgdaibiki.jpg" width="556">
              </p>
              </section>

<section class="guideline_box" style="margin-bottom:20px">
                <a name="g03" id="g03"></a>
                <h2 class="headline" style="font-weight:bold;font-size: 18px;margin-bottom: 5px;">キャンセルについて</h2>
              <p class="guiTxt02">食品のため、配送後のキャンセルは出来かねます。<br>
              不良品については、商品到着時にご不明な点がございましたら直ちにご連絡ください。<br>
良品との取替等対応させていただきます。<br>
和泉中央本店：<a href="tel:0725-57-2888">0725-57-2888</a></p>
</section>

<section class="guideline_box" style="margin-bottom:20px">
              <a name="g04" id="g04"></a>
              <h2 class="headline" style="font-weight:bold;font-size: 18px;margin-bottom: 5px;">ラッピングについて</h2>

              <p class="guiTxt02">包装・熨斗・リボンラッピング対応商品と非対応商品がございます。<br>
対応可能な商品に関しましては、商品詳細ページにて「包装・熨斗・ラッピング」をお選びいただけるようになっておりますので、ご確認のうえ詳細をご選択くださいませ。<br>
また、お渡し用の手提げ袋に関しましては基本的に宅配商品には付いておりません。ご入用の方は、商品詳細ページにてご選択ください。無料分以外に追加で必要な場合は別途有料袋ページよりご注文下さいませ。
</p>
            </section>


<section class="guideline_box" style="margin-bottom:20px">
                <a name="g05" id="g05"></a>
                <h2 class="headline" style="font-weight:bold;font-size: 18px;margin-bottom: 5px;">送料について</h2>
<p class="guiTxt02"><!--銀行振込の場合、ご入金確認後3営業日以内に発送いたします。<br />-->
  4月下旬～11月末まで（その年の気温によって多少の前後あり）は全商品冷蔵便での配送となりますので、下記の送料に別途220円（税込）がかかります。<br />
  あらかじめご了承くださいませ。
    <img src="https://gigaplus.makeshop.jp/yokogawa/common/img/guideImg01.jpg" class="ryoukinnhyou" style="margin:10px auto;">
配達指定日はご注文日より4日以降でお願いします。<br />
<br />
お菓子類はご注文をお受けしたのち製造するものもございますのでお届け日が前後する場合もございます。<br />
また天候や災害等で配送に影響がある場合もございますので、あらかじめご了承くださいますようお願いいたします。</p>
</section>

<section class="guideline_box" style="margin-bottom:20px">
  <a name="g06" id="g06"></a>
                <h2 class="headline" style="font-weight:bold;font-size: 18px;margin-bottom: 5px;">店頭受取について</h2>
<p class="guiTxt02">
店頭受取商品の受け取り日時はご注文画面内の日時選択よりお選びくださいませ。<br />
情報反映にお時間を頂いております。お急ぎのお客様は受取店希望店舗に営業時間９:００～１９:００（定休日毎週月曜日、不定休あり）にお電話にてお問合せくださいませ。
お支払方法は、クレジット決済か店頭支払いからお選びいただけます。
</p>
</section>

<section class="guideline_box" style="margin-bottom:20px">
<a name="g07" id="g07"></a>
              <h2 class="headline" style="font-weight:bold;font-size: 18px;margin-bottom: 5px;">ポイントについて</h2>
<p class="guiTxt02">
商品代金の2％を配送完了時に付与し、次回以降100ポイント以上からご利用いただけます。<br />
有効期限は最終のお買い物より1年となっております。</p>
</section>
</section>
            </div><!-- .faq_list -->
          <!-- .recruit_box -->
          <!-- .recruit_link -->
        </div><!-- .recruit -->
      </main>
    </div><!-- .contents -->

{% endblock %}