{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<div class="ec-role">
    <div class="ec-newItemRole" style="padding-bottom:5px;">
        
        <div class="ec-newItemRole__list">
            
            <div class="ec-newItemRole__listItem" style="width:calc(100%/3);">
                <a href="{{ url('help_guide') }}" style="color:#000; height: 100px; display: flex;flex-wrap: wrap; justify-content: center; align-items: center; border: 1px solid #ECECEC; font-size: 16px; text-decoration: none;">
                    <span>初めての方へ<span style="display: block; text-align: center; font-size: 12px;">Guide</span>
                    </span>
                </a>
            </div>

            <div class="ec-newItemRole__listItem" style="width:calc(100%/3);">
                <a href="{{ url(eccube_config.eccube_user_data_route, {"route": "faq"}) }}" style="color:#000; height: 100px; display: flex;flex-wrap: wrap; justify-content: center; align-items: center; border: 1px solid #ECECEC; font-size: 16px; text-decoration: none;">
                    <span>よくある質問<span style="display: block; text-align: center; font-size: 12px;">FAQ</span>
                    </span>
                </a>
            </div>
            
            <div class="ec-newItemRole__listItem" style="width:calc(100%/3);">
                <a href="{{ url(eccube_config.eccube_user_data_route, {"route": "product_lineup"}) }}#decoration" style="color:#000; height: 100px; display: flex;flex-wrap: wrap; justify-content: center; align-items: center; border: 1px solid #ECECEC; font-size: 16px; text-decoration: none;">
                    <span>デコレーション予約<span style="display: block; text-align: center; font-size: 12px;">Reservation</span>
                    </span>
                </a>
            </div>


        </div>
        
    
    </div>
</div>