{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<section class="top_btn_area">
	<ul class="inner">
	  <li><a href="{{ url('help_guide') }}" class="btn02"><span>初めての方へ<span class="agp">Guide</span></span></a></li>
	  <li><a href="{{ url(eccube_config.eccube_user_data_route, {"route": "faq"}) }}" class="btn02"><span>よくある質問<span class="agp">FAQ</span></span></a></li>
	  <li><a href="{{ url(eccube_config.eccube_user_data_route, {"route": "product_lineup"}) }}#cake" class="btn02"><span>デコレーション予約<span class="agp">Reservation</span></span></a></li>
	</ul>
	<div class="recruit_btn">
	  <span><img src="{{ asset('assets/img/top/recruit_b02.jpg') }}" alt=""></span>
	  <a href="https://t-yokogawa.works/recruit/">採用情報について</a>
	</div><!-- .recruit_btn -->
</section>