{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<section class="shop">
	<h2 class="title"><strong class="agp">SHOP</strong></h2>
	<div class="inner">
	  <ul>
	    <li>
	      <span><img src="{{ asset('assets/img/top/shop_honten01.jpg') }}" alt=""></span>
	      <div>
	        <h3 class="name">T.YOKOGAWA ˜aò’†‰›–{“X</h3>
	        <dl>
	          <dt>Address</dt>
	          <dd>§594-1104@‘åã•{˜aòs–œ’¬268-1</dd>
	          <dt>Tel</dt>
	          <dd><a href="tel:0725-57-2888">0725-57-2888</a></dd>
	        </dl>
	      </div>
	    </li>
	    <li>
	      <span><img src="{{ asset('assets/img/top/shop_kishiwada01.jpg') }}" alt=""></span>
	      <div>
	        <h3 class="name">T.YOKOGAWA Šİ˜a“c“X</h3>
	        <dl>
	          <dt>Address</dt>
	          <dd>§596-0044 ‘åã•{Šİ˜a“cs¼”V“à’¬5-7</dd>
	          <dt>Tel</dt>
	          <dd><a href="tel:072-447-8801">072-447-8801</a></dd>
	        </dl>
	      </div>
	    </li>
	  </ul>
	</div>
	<a href="{{ url(eccube_config.eccube_user_data_route, {"route": "SHOP"}) }}" class="btn">“X•Üî•ñ</a>
</section>